@import '../../../assets/scss/variables.scss';

.annonce__titre{

   h1{
      font-size: 36px;
      font-weight:$font-medium;
      @media screen and (max-width: 650px) {
         font-size: 20px;
      }   
   }
   h3{
      margin-top: 5px;
      font-size: 18px;
      font-weight:$font-medium;
      @media screen and (max-width: 650px) {
         font-size: 14px;
      }   
   }
}