$color1:#FF6060 ;
$color2:#C4C4C4;



$color-white:#FFFFFF;
$backgroud1 : #E5E5E5;
$backgroud2:#F6F6F6;
$backgroud3:#E3E3E3;

$font-family-primary :'Montserrat';
$font-regular :400;
$font-medium :500;
$font-bold :700;


/** Breakpoints Responsive design: tablette et desktop*/
$breakpoints:(
   smartphone:650px,
);
