
@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.annonce{
   &__blocs{
      @include flex (row, space-between, center);
      @include responsive(smartphone){
         flex-direction: column;    
      }

      &__bloc{
         .tags,
         .rating{
            margin-top: 20px;  
            
         }
      }
      &__bloc:last-child{
         @include flex (column, right, right);
         @include responsive(smartphone){
            @include flex (row, space-between, center);
            flex-direction: row-reverse;
         }
         
         aside{
            width: 100%;
            text-align: right;
         }
         
      }
   }


   &__warpper{
      @include flex (row, space-between, 0);
      margin-top: 30px;

      @include responsive(smartphone){
         @include flex (column, space-between, center);
        
      }

      .accordion{
         margin-right: 60px;
         width: 50%;
         &__body{     
            min-height: 360px  !important;
         }
      }
   


   .accordion:last-child{
      margin-right: 0;
   }
  
   
}
}
